.template1 {
	flex: 1;
	background-color: #0bf48c;
}
.signature {
	margin: 3rem 6rem;
	padding: 2rem;
	background-color: white;
	border-radius: 10px;
	position: fixed;
	top: 0rem;
}

.details {
	display: flex;
}
.profile-img {
	height: 5rem;
	width: 7rem;
	border-radius: 50%;
}

p,
a {
	font-size: 0.8rem;
	padding: 5px 0;
}

h5,
p {
	margin: 0;
}

a {
	color: black;
	text-decoration: none;
}

.fullname {
	font-size: 1rem;
}

.contact-details {
	display: grid;
	grid-template-columns: 10% 90%;
	column-gap: 10px;
}

.contact-icon {
	height: 1rem;
	width: 1rem;
	margin-top: 5px;
}

.social-links {
	display: flex;
	justify-content: flex-end;
}
.social-logo {
	height: 1.5rem;
	width: 1.5rem;
	margin-left: 1rem;
}

.vr {
	margin: 0 1rem;
}
