.form-container {
	background-color: #417d78;
	color: #fff;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 2rem 0.8rem;
}

label {
	align-self: flex-start;
	margin: 0 2.2rem;
}

input {
	width: 15rem;
	border: none;
	border-bottom: 2px solid #fff;
	height: 2rem;
	margin: 0.5rem 0;
	color: #fff;
	background-color: unset;
}
input::placeholder {
	color: rgb(175, 179, 175);
}
input:focus,
input:active {
	outline: none;
	border-color: #0bf48c;
}
label,
input {
	font-size: 1rem;
}

.submit-btn {
	background-color: #0bf48c;
	color: black;
	border: none;
	border-radius: 5px;
}
