.template1 {
	/* margin: 2rem 0.8rem; */
	flex: 1;
	background-color: #0bf48c;
}
.signature {
	margin: 5rem;
	padding: 2rem;
	background-color: white;
	border-radius: 10px;
}

.details {
	display: flex;
	justify-content: space-evenly;
}
.profile-img {
	height: 5rem;
	width: 7rem;
	border-radius: 50%;
}

.full-name {
	display: flex;
	justify-content: space-between;
	width: 11rem;
}
h5,
p {
	margin: 0;
}

.details p {
	font-size: 1rem;
}

.social-links {
	display: flex;
	justify-content: flex-end;
}
.social-logo {
	height: 1.5rem;
	width: 1.5rem;
	margin-right: 1rem;
}
